@import '/reset.scss';

// Share start
    .fullHeight {min-height: calc(100vh - (45px * 2));}
    // Loading start
    @keyframes rotate-loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes rotate-loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes loading-text-opacity {
        0% {
            opacity: 0
        }

        20% {
            opacity: 0
        }

        50% {
            opacity: 1
        }

        100% {
            opacity: 0
        }
    }
    .loading_box {
        // display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .3);

        .loading {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid;
            border-color: transparent $pageRed transparent $pageRed;
            animation: rotate-loading 1.9s linear 0s infinite normal;
            margin: 40px auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 5px;
                left: 5px;
                width: 90%;
                height: 90%;
                border-radius: 50%;
                border: 2px solid;
                border-color: transparent $pageDeepBlue transparent $pageDeepBlue;
                animation: rotate-loading 1.7s linear 0s infinite normal;
                transform-origin: 50% 50%;
            }
            &:after {
                top: 10%;
                left: 10%;
                width: 80%;
                height: 80%;
                border-color: transparent $pageLightBlue transparent $pageLightBlue;
                animation: rotate-loading 1.5s linear 0s infinite normal;
            }
        }
        .loading_text {
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #ffffff;
            font-size: 12px;
            font-weight: bold;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 80px;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 100px;
            height: 100px;
        }
    }
    // Loading end
    // a-scrollBar start
    @keyframes a-scrollBar{
        0% {
            top:0px;
            height:0;
        }
        50% {opacity:1}
        70% {
            opacity:1;
            top:0px;
            height:100%;
        }
        to{
            opacity:1;
            top:100%;
            height:0%;
        }
    }
    // a-scrollBar end
// Share end
// Header start
header {
    padding-bottom: 42px;
    .nav {
        display: inline-block;
        width: 100%;
        height: 42px;
        background-color: $pageLightBlack4;
        border-color: $pageLightBlack7;
        z-index: 100;
        box-shadow: 0px 2px 4px 0px rgba(170, 170, 170, 0.3);
        .nav-item {
            display: inline;
            .dropdown-menu {background-color: $pageLightBlack4;}
            .nav-link,
            .dropdown-item {
                font-size: $pageTSize / 2 + 1;
                line-height: 42px;
                padding: 0 5%;
                display: inline-block;
                background-color: $pageLightBlack4;
                transition: 150ms ease;
                &:hover {color: $pageShallowBlue;}
            }
            .dropdown-divider {margin: 0;}
        }
    }
}
// Header end

// Home start
.parallax {
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.parallax1,
    &.parallax5 {
        background-image: url('../assets/images/pic/parallax1.jpg');
        min-height: 100vh;
        h2 {
            display: inline-block;
            background-color: $pageLightBlack2;
            padding: $pagePushDown / 2 + 3;
            font-size: $pageTSize + 9;
            letter-spacing: 10px;
        }
    }
    &.parallax2 {
        background-image: url('../assets/images/pic/parallax2.jpg');
        min-height: 500px;
    }
    &.parallax3 {
        background-image: url('../assets/images/pic/parallax3.jpg');
        min-height: 400px;
        background-position: center 30%;
    }
    &.parallax4 {
        background-image: url('../assets/images/pic/parallax4.jpg');
        min-height: 400px;
        background-position: center 95%;
    }
    &.parallax5 {
        background-image: url('../assets/images/pic/parallax5.jpg');
    }
    .titleItem {
        top: 50%;
        width: 100%;
        h2 {
            color: $pageLightBlack5;
            margin: 0;
        }
    }
}
.parallaxItem {
    &.item1 {
        padding-top: calc(5em + 42px);
        min-height: 100%;
        padding-bottom: 5em;
        background-color: $pageLightBlack5;
        .homepage-title-section {
            h1 {
                font-size: $pagePushDown - ($pagePushDown / 3);
                text-transform: uppercase;
                letter-spacing: 10px;
                transition: 250ms ease;
            }
            span {
                font-size: $pageTSize;
                letter-spacing: 2px;
                color: $pageLightBlack2;
                display: block;
                transition: 250ms ease;
            }
        }
        .code-container {
            font-family: 'Hack', monospace;
            border: 2px solid $pageLightBlack6;
            width: 50%;
            margin: 3em auto;
            .code-header {
                padding: 0.4em 0 0.5em 0.4em;
                height: 2em;
                border-bottom: 2px solid $pageLightBlack6;
                .circle {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 2px solid $pageLightBlack6;
                    margin-right: $pagePushDown / 3;
                }
            }
            .code-body ol {
                list-style: none;
                margin: 1em 0.1em 1em 1em;
                li {
                    display: flex;
                    counter-increment: step-counter;
                    &:before {
                        content: counter(step-counter) ".";
                        margin-right: $pagePushDown / 2;
                        color: $pageLightBlack6;
                    }
                }
            }
        }
    }
    &.item2,
    &.item3 {
        color: $pageLightBlack5;
        background-color:$pageLightBlack2;
        padding:(($pagePushDown * 2) - ($pagePushDown / 3)) (($pagePushDown * 3) - ($pagePushDown / 3));
        text-align: justify;
    }
    &.item4 {
        color: $pageLightBlack2;
        background-color: $pageLightBlack7;
        padding:$pagePushDown (($pagePushDown * 3) - ($pagePushDown / 3));
        text-align: justify;
        p {margin: 0;}
    }
}
// Home end

// Imgur start
.imgur {
    background-color: $pageLightBlack7;
    .content {
        width: 85%;
        margin: 0 auto;
        background-color: $pageLightBlack4;
        padding: 50px;
        .store_label {
            border: 1px solid $pageLightBlack3;
            padding: $pagePushDown / 6 $pagePushDown / 2;
            transition: background-color .3s ease-in-out,
                        color .3s ease-in-out;
            &:hover,
            &:focus {
                color: $pageLightBlack4;
                background-color: $pageLightBlack3;
            }
        }
        input[type="file"] {display: none;}
        img {
            display: block;
            width: 300px;
            margin: 0 auto;
        }
    }
}
// Imgur end

// PhotoZoom start
.zoomBox {background-color: $pageLightBlack7;}
// PhotoZoom end

// Social start
.socialLogin {
    background-color: $pageLightBlack7;
    .signIn {
        display: block;
        background-color: $pageRed3;
        background-repeat: no-repeat;
        background-position: 5%;
        background-size: 10%;
        transition: background-color .3s .1s ease-in-out;
        .title{
            border-left: 1px solid $pageRed2;
            color: $pageWhite;
            padding: $pagePushDown / 2;
            float: right;
            font-size: $pageTSize;
            width: 80%;
        }
        &:hover{background-color: $pageRed4;}
        &.google_signIn {background-image: url('http://pluspng.com/img-png/google-logo-png-open-2000.png');}
        &.facebook_signIn {
            background-image: url('https://www.facebook.com/images/fb_icon_325x325.png');
            background-color: #315997;
            .title {border-color: #39c;}
            &:hover {background-color: #335FA4;}
        }
    }
    .item {
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        h5 {
            top: auto;
            left: auto;
            right: 3vw;
            bottom: 3vh;
        }
        h6 {
            top: auto;
            left: auto;
            right: -7vw;
            bottom: -9px;
            &.vr-l {
                writing-mode: vertical-lr;
                .bar {
                    position: absolute;
                    top: -30px;
                    right: -1vw;
                    width: 1px;
                    height: 100%;
                    animation: a-scrollBar 3s infinite normal;
                    opacity: 0;
                    background: #000;
                    display: block;
                }
            }
        }
        p {
            float: left;
            padding: 0.5rem 0;
            margin: 0;
            font-size: $pageTSize + 6;
            font-weight: bolder;
        }
        button {
            float: right;
            font-size: $pageTSize - 2;
            &:focus {box-shadow: none;}
        }
        .emailUsed {
            clear: both;
            font-size: $pageTSize - 2;
        }
        .item_bgBox {
            width: 80vw;
            height: 70vh;
            bottom: 10vh;
            right: 0;
            margin: auto;
            .item_bg {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 75%;
            }
        }
    }
}
// Social end

// GoogleMap start
.googleMap {
    background-color: $pageLightBlack7;
    user-select: none;
    .store_box {
        min-height: 330px;
        max-height: 500px;
        iframe {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    h2 {
        font-size: $pageTSize + 8;
        label {
            transition: color .2s ease-in-out;
            &:hover {color: $pageShallowBlack;}
            i {
                font-size: $pageTSize;
                vertical-align: super;
            }
            span {color: $pageShallowBlack;}
        }
        input {display: none;}
    }
    h5 {
        font-size: $pageTSize + 2;
        span {
            display: block;
            font-size: $pageTSize - 4;
        }
    }
    .noapi {height: 300px;}
    .embedMode {
        i {color: $pageLightBlack3;}
        input:checked + i {color: $pageShallowBlue;}
    }
    .embedZoom {
        input {background-color: $pageTransparent;}
        .vue-slider + span {
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
            width: 100%;
            text-align: center;
        }
    }
    .embedStreetview {
        .store_box {
            min-height: auto;
            max-height: none;
        }
        iframe {position: static;}
    }
    .googleMapJs,
    .googleMapGeolocation,
    .googleMapGeolocationNav {
        height: 300px;
    }
}
// GoogleMap end

// Controller start
#nextCheck {
    display: none;
    &:checked {
        + .controller {
            > label:before {
                transform: rotate(90deg);
                bottom: auto;
                top: 100px;
            }
            max-height: 10px;
            transition: max-height .6s ease-in-out;
        }
    }
}
label[for="nextCheck"] {
    display: block;
    top: auto;
    bottom: -50px;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $pageLightBlack4;
    z-index: 1;
    cursor: pointer;
    &:hover:before {color: $pageShallowBlue;}
    &:before {
        content: '➤';
        display: block;
        font-size: 1rem;
        font-weight: bolder;
        color: $pageLightBlack7;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: color .15s ease-in-out;
    }
}
.controller {
    overflow: hidden;
    background-color: $pageLightBlack4;
    transition: max-height .6s ease-in-out;
    max-height: 5000px;
    margin-bottom: $pagePushDown * 3;
    input {
        width: 100%;
        height: 40px;
        background-color: $pageLightBlack16;
    }
    a {width: 100%;}
}
// Controller end

// Marvel start
.marvel {
    background-color: $pageLightBlack7;
    .card {
        border: none;
        border-bottom: 1px solid $pageLightBlack17;
        .card-header {
            background-color: $pageLightBlack7;
            .nav {justify-content: center;}
            .nav-item {margin-right: 1rem;}
            .nav-link {
                background-color: $pageLightBlack7;
                border-color: $pageLightBlack17 $pageLightBlack17 $pageLightBlack7;
                &.active {
                    background-color: $pageLightBlack10;
                    border-color: $pageLightBlack17 $pageLightBlack17 $pageLightBlack10;
                }
            }
        }
        .tab-content {
            background-color: $pageLightBlack7;
            .card-body.active {background-color: $pageLightBlack10;}
            .card-body:nth-child(3) {padding: 0;}
        }
    }
    .couple {
        background-color: $pageLightBlack7;
        padding: 0.5rem 1rem;
        border-radius: 15px;
        border: 1px solid $pageLightBlack17;

        &:nth-child(2) .col-6:nth-child(2) .item .cover {
            background-position: top left;
        }

        .clickEnter {
            font-size: $pageTSize - 3;
            padding: 5px;
        }

        .number {
            background-color: $pageLightBlack10;
            padding: .5rem;
            font-size: 18px;
            border-radius: 15px;
        }

        .item {
            p {
                min-height: 50px;
                font-size: 15px;
                font-weight: bolder;
            }

            .cover {
                width: 100%;
                height: 150px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
            }
        }

        &.coupleForm {
            input[type="text"] {
                width: 100%;
                height: 40px;
                background-color: $pageLightBlack16;
            }
            .upFileBox {
                background-size: 80%;
                height: 150px;
                background-repeat: no-repeat;
                background-position: center;
                label {
                    height: 150px;
                    background-image: none;
                    font-size: 0;
                }
            }
        }
    }
    .card-box {
        color: $pageWhite;
        column-count: 2;
        column-gap: 0;
        padding-bottom: ($pagePushDown * 2) - ($pagePushDown / 3);
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 10vh;
            position: absolute;
            bottom: 0;
            left: -1vw;
            background-color: $pageLightBlack10;
        }
        .card-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: rgb(49, 49, 49);
            transition: 0.4s ease-in-out;
            box-shadow: 0px 3px 10px 0px $pageLightBlack11;
            margin-right: $pagePushDown / 2;
            break-inside: avoid;
            &:hover{transform: translateY(-10px)}
            img {
                padding: ($pagePushDown - ($pagePushDown / 3)) 0 0 ($pagePushDown - ($pagePushDown / 3));
                width: 150px;
                box-sizing: content-box;
            }
            h2 {
                font-weight: 100;
                padding-left: ($pagePushDown - ($pagePushDown / 3));
                padding-bottom: 0;
                color: $pageShallowYellow;
                font-size: 1.5em;
                font-weight: bolder;
            }
            p {
                color: $pageLightBlack10;
                padding: 0 ($pagePushDown - ($pagePushDown / 3)) ($pagePushDown - ($pagePushDown / 3)) ($pagePushDown - ($pagePushDown / 3));
                font-size: $pageTSize - 2;
            }
            ul li {
                list-style: none;
                font-size: $pageTSize - 2;
                font-weight: 100;
                margin-bottom: $pagePushDown / 2;
                padding-left: $pagePushDown;
                line-height: $pagePushDown;
                &::before {
                    content: "\25E6";
                    color: $pageLightYellow;
                    font-size: $pageTSize + 6;
                    position: absolute;
                    left: 0;
                    font-family: FontAwesome;
                }
            }
            .info-plan {
                width: 100%;
                padding: ($pagePushDown - ($pagePushDown / 3));
                background: #242424;
            }
            button {
                border: 0;
                width: 100%;
                color: $pageShallowYellow;
                cursor: pointer;
                font-size: $pageTSize;
                margin-top: $pagePushDown / 3;
                padding: ($pagePushDown / 2) ($pagePushDown / 3);
                background: $pageLightBlack8;
                box-shadow: 0px 5px 10px 0px $pageLightBlack11;
                font-family: 'Ubuntu', sans-serif;
                transition: background 0.3s linear; 
                &:hover {
                    background: $pageShallowGreen;
                    color: $pageLightBlack8;
                }
            }
        }
    }
    .strips {
        min-height: calc(100vh - 45px);
        text-align: center;
        overflow: hidden;
        color: white;
        position: relative;
        top: 0;
        left: 0;
        &__strip {
            will-change: width, left, z-index, height;
            position: absolute;
            width: 20%;
            min-height: calc(100vh - 45px);
            overflow: hidden;
            cursor: pointer;
            @include easeOut;
            @for $i from 1 through length($strip_form) {
                &:nth-child(#{$i}) {
                    left: ($i - 1) * 20vw;
                    .strip__content {
                        background: nth($colors, $i);
                        animation-name: nth($strip, $i);
                        animation-delay: ($i / 10) * 1s;
                        transform: nth($strip_form, $i);
                    }
                }
            }
            &:nth-child(3) {
                cursor: default;
                & .strip__content:before {
                    transform: skew(-30deg) scale(3) translate(0, 0);
                    opacity: 0.1;
                }
                .strip__title {
                    font-size: 4vw;
                    letter-spacing: -5px;
                    border: 1px solid $pageWhite;
                    width: auto;
                    padding: 0px ($pagePushDown / 3) 0 ($pagePushDown / 6 + 2);
                }
            }
            @include break {
                min-height: 20vh;

                &:nth-child(1) {
                    top: 0;
                    left: 0;
                    width: 100%;
                }

                &:nth-child(2) {
                    top: 20vh;
                    left: 0;
                    width: 100%;
                }

                &:nth-child(3) {
                    top: 40vh;
                    left: 0;
                    width: 100%;
                }

                &:nth-child(4) {
                    top: 60vh;
                    left: 0;
                    width: 100%;
                }

                &:nth-child(5) {
                    top: 80vh;
                    left: 0;
                    width: 100%;
                }
            }
        }

        .strip__content {
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            animation-fill-mode: both;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;

            &:hover {
                &:before {
                    transform: skew(-30deg) scale(3) translate(0, 0);
                    opacity: 0.1;
                }
            }

            &:before {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                opacity: 0.05;
                transform-origin: center center;
                transform: skew(-30deg) scaleY(1) translate(0, 0);
                @include easeOut;
            }
        }

        .strip__inner-text {
            will-change: transform, opacity;
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 50%;
            overflow-x: hidden;
            overflow-y: scroll;
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
            @include easeOut;
        }

        &__strip--expanded {
            width: 100%;
            top: auto;
            left: 0 !important;
            z-index: 3;
            cursor: default;

            @include break {
                min-height: 100vh;
            }

            .strip__content {
                &:hover {
                    &:before {
                        transform: skew(-30deg) scale(1) translate(0, 0);
                        opacity: 0.05;
                    }
                }
            }

            .strip__title {
                opacity: 0;
            }

            .strip__inner-text {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
        .strip__title {
            display: block;
            margin: 0;
            position: relative;
            z-index: 2;
            width: 100%;
            font-size: 2vw;
            font-weight: bolder;
            color: white;
            @include easeOut;
    
            @include break {
                font-size: 28px;
            }
        }
        .strip__close {
            position: absolute;
            right: 5vw;
            top: 3vw;
            opacity: 0;
            z-index: 10;
            @include easeOut;
            cursor: pointer;
            transition-delay: 0.5s;
            &:before {
                content:'\2716';
                position: absolute;
                top: 0;
                left: -2rem;
                display: block;
                width: 1px;
                height: 1px;
                font-size: 2rem;
                text-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,.8);
            }
            &--show {
                opacity: 1;
            }
        }
    }
}
// Marvel end

// Footer start
footer {
    background-color: $pageLightBlack4;
    padding: .8rem 0 .5rem;
    h6 {font-size: $pageTSize - 2 ;}
}
// Footer end

@import '/media.scss';