@media screen and (max-width: 1024px) {
    // Home start
    .home {
        .parallaxItem {
            &.item1 {
                .code-container {
                    width: 75%;
                }
            }
            padding: 50px 30px;
        }
    }
    // Home end
}
@media screen and (max-width: 767px) {
    // Share start
    .modal {
        .modal-header {padding-left: 0;}
        .modal-content {padding-left: 15px;}
    }
    // Share end
    // Header start
    header .nav .nav-item {
        .nav-link,
        .dropdown-item {
            font-size: $pageTSize - 2;
            padding: 0 3%;
        }
    }
    // Header end
    // Home start
    .home {
        .parallaxItem {
            &.item1 {
                .code-container {
                    width: 95%;
                }
            }
            &.item3 p {
                border-bottom: 1px solid $pageLightBlack7;
                padding-bottom: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
    // Home end
    // Imgur start
    .imgur {
        .content {
            width: 90%;
            padding: $pagePushDown / 2;
            img {
                width: 100%;
                max-width: 200px;
            }
        }
    }
    // Imgur end
    // Marvel start
    .marvel {
        .couple .clickEnter {display: block;}
        .card {
            .tab-content {
                .card-body {padding: 1.25rem 0;}
            }
        }
        .card-box{
            column-count: 1;
            &:after {display: none;}
            .card-list {width: 100%;}
        }
        .strips {
            min-height: 100vh;
            overflow: inherit;
            .strips__strip:nth-child(3) .strip__title {font-size: ($pagePushDown * 2) - ($pagePushDown / 3);}
            .strip__close {top: 12vh;}
        }
    }
    // Marvel end
    // Social start
    .socialLogin .item .item_bgBox {
        height: 55vh;
    }
    // Social end
    // GoogleMap start
    .googleMap .store_box {
        min-height: auto;
        max-height: none;
        iframe {position: static;}
    }
    // GoogleMap end
    // Youtube start
    .youtube {
        .youList {
            .subscriberCount {
                top: -5px;
                right: 10px;
            }
        }
    }
    // Youtube end
}